body {
  margin: 0;
  padding: 0;
}

/*container display styling*/
.container {
  background: url("world.jpg");
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
}

/* heading styling*/
h2 {
  margin-bottom: 40px;
  color: whitesmoke;
  font-size: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*stopwatch display styling*/
#stopwatch {
  font-size: 50px;
  color: whitesmoke;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 10px 5px 5px red;
}

/*buttons display*/
#buttons {
  display: flex;
}

/*buttons styling*/
button {
  width: 80px;
  height: 30px;
  margin: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;

  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: bolder;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

/*buttons hover effects*/
button:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}